.delete-car {
  margin: 8px 5px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  padding: 7px 11px;
  border-radius: 5px;
  background: rgb(44, 136, 44);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.well-container {
  margin-top: 20px;
}
